*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
}

.container{
    max-width: 70vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    

}

.header_container{
    margin-bottom: 2.8rem;
}

.header_title{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.header_desc{
    max-width: 568px;
    text-align: center;
    color: rgb(95, 89, 89);
    margin: 0 auto;
}


.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1,1fr);
}

@media (min-width:740px) {
    .main_container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:1340px) {
    .main_container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width:1600px) {
    .main_container{
        grid-template-columns: repeat(4,1fr);
    }
}


.card_container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(138, 132, 132);
    border-radius: 8px;
    overflow: hidden;

}

.card_image_container{
    position: relative;
    overflow: hidden;
    height: 7rem;
}
@media (min-width:740px) {
    .card_image_container{
        height: 12rem;
    }
}


.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

}

.card_container:hover .card_image{
    transform: scale(1.1);
    transition-delay: 200ms;
}

.card_title{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: rgb(44, 41, 41);
}
.card_title_anchor:hover .card_title{
    color: rgb(62, 62, 182);
}
.card_desc{
    color: rgb(39, 36, 36);
    font-size: 1rem;

}
.card_footer_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;


}

.author_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authour_avatar_container{
    height: 2.5 rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(156, 142, 142);
    border-radius: 50%;
    background-color: rgb(199, 192, 192);
}

.author_info_container{
    display: flex;
    flex-direction: column;
 
}
.author_name{
    color: rgb(45, 45, 165);
}

.author_date{
    color: rgb(122, 116, 116);
}

.card_tag_container{
    font-size: 0.7rem;
    border: 1px solid rgb(59, 56, 56);
    border-radius: 2px;
    line-height: 1.3rem;
    padding: 0.25rem 0.5rem;
    color: gray;
}